tr:hover .poster-default {
    border-radius: 0;
    transition: 0.75s;
    transition-delay: 0.15s;
}

.poster-default {
    height: 213px;
    max-width: 145px;
    border-radius: 13px;
    object-fit: cover;
}

.image-column-default {
    width: 120px;
    height: auto;
}









